name: Auto update Kernel Version

on:
  push:
    branches:
      - main
  schedule:
    - cron: '8 15 * * *' #run daily

jobs:
  update-kernel:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Read current version from PKGBUILD
        run: |
          _major=$(grep '^_major=' PKGBUILD | cut -d'=' -f2)
          _minor=$(grep '^_minor=' PKGBUILD | cut -d'=' -f2)
          echo "Current version: $_major.$_minor"
          echo "current_major=$_major" >> $GITHUB_ENV
          echo "current_minor=$_minor" >> $GITHUB_ENV

      - name: Get latest kernel version
        run: |
          latest_version=$(curl -s --retry 8 "https://github.com/gregkh/linux/tags" | grep -oP 'href="/gregkh/linux/releases/tag/v[0-9][0-9]*\.[0-9][0-9]*\.[0-9][0-9]*"' | grep -v 'rc' | sed 's/.*tag\/v\([^"]*\).*/\1/' | sort -V | tail -n1)
          echo "Latest version: $latest_version"
           # Set latest_major and latest_minor
          latest_major=$(echo "$latest_version" | cut -d'.' -f1-2)  # Extract major and minor
          latest_minor=$(echo "$latest_version" | cut -d'.' -f3)    # Extract patch
          latest_minor=${latest_minor:-0}                           # Default to 0 if empty
          echo "latest_major=$latest_major" >> $GITHUB_ENV
          echo "latest_minor=${latest_minor:-0}" >> $GITHUB_ENV

      - name: Update PKGBUILD if new kernel is available
        run: |
          latest_minor_int=${latest_minor%%.*}
          # Update if latest version is bigger than current version
          if [[ "$latest_major" > "$current_major" ||
                ("$latest_major" == "$current_major" && "$latest_minor_int" -gt "$current_minor") ]]; then
              echo "Updating PKGBUILD..."
              sed -i "s/^_major=.*/_major=${latest_major}/" PKGBUILD
              sed -i "s/^_minor=.*/_minor=${latest_minor}/" PKGBUILD
              echo "updated=true" >> $GITHUB_ENV
          else
              echo "No update needed."
              # If minor is manually set to 0, we need to override fetched latest_major/minor
              pkgbuild_minor=$(grep '^_minor=' PKGBUILD | cut -d'=' -f2)
              if [[ "$pkgbuild_minor" == "0" ]]; then
                  echo "Overriding latest version with set PKGBUILD value for minor 0 release"
                  echo "latest_major=$current_major" >> $GITHUB_ENV
                  echo "latest_minor=$current_minor" >> $GITHUB_ENV
              fi
          fi

      - name: Rollback pkgrel
        if: env.updated == 'true'
        run: |
          # Enforce pkgrel=1
          current_pkgrel=$(grep '^pkgrel=' PKGBUILD | cut -d'=' -f2)
          if [[ "$current_pkgrel" != "1" ]]; then
              sed -i 's/^pkgrel=.*/pkgrel=1/' PKGBUILD
              echo "Rollback pkgrel for new kernel version"
          fi

      - name: Save new kernel pkgrel artifact
        if: env.updated == 'true'
        run: |
              echo "Save pkgrel for new kernel version"
              echo "pkgrel_rollback=true" > new-release-update.txt

      - name: Avail pkgrel update artifact
        if: env.updated == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: new-kernel
          path: new-release-update.txt

      - name: Rollback dot 0 accomodations
        if: env.updated == 'true'
        run: |
          # use correct PKGBUILD to check for _minor
          _minor=$(curl -sL --retry 8 "https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/${{ github.ref_name }}/PKGBUILD" | grep -oP '_minor=\K\d+')

          # Check if we are at .0
          if [[ $_minor -eq 0 && -n $latest_minor ]]; then
            # Re-instate minor patch versions in sources
            sed -i 's/^ *#\(.*cdn\.kernel\.org.*patch-.*\.xz"\)/  \1/' PKGBUILD
            echo "Successfully restored default build config"
          else
            echo "Minor version state is correct. Nothing to do here"
          fi

      - name: Update cachyos patch names
        run: |
          for i in {1..6}; do bash ./cachy_patches_assistant.sh && break || sleep 10; done

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add PKGBUILD
          git commit -m "Update PKGBUILD to latest kernel version ${{ env.latest_major }}.${{ env.latest_minor }}" || echo "No changes to commit"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
